{% extends 'base.html' %}

{%block head%}
<title>Virtual Data scientist</title>
<style>

body{
    background: #1D976C;  
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  
    background: linear-gradient(to right, #93F9B9, #1D976C); 
}
    /* --Collapsible part-- */
.collapsible {
    background: #43cea2;  
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  
    background: linear-gradient(to right, #185a9d, #43cea2); 
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .collapsible:hover {
    background: #ec008c;  
    background: -webkit-linear-gradient(to top, #fc6767, #ec008c);  
    background: linear-gradient(to top, #fc6767, #ec008c); 
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background: #1D976C;  
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  
    background: linear-gradient(to right, #93F9B9, #1D976C); 
    
  }
/* --Slider in train-test-- */
.slidecontainer{
    width: 100%;
}

.slide{
    -webkit-appearance: none;
    width:100%;
    height:10px;
    border-radius: 5px;
    background: #69bff1;
    outline: none;
    opacity: 0.7;
    -webkit-transition:.2s;
    transition:opacity .2s;
}

.slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff0c0c;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff0c0c;
    cursor: pointer;
  }
   .columnTable {
            float: right;   
            display: flex;           /* establish flex container */
            width: 90%;
            height: 90%;
            padding: 70px 100px;
        }
    .cardTable {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
            border-radius: 10px;
            padding: 16px;
            text-align: center;
            background-color: rgba(0, 0, 0, 0);
    }
  a{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background: #43cea2;  
        background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  
        background: linear-gradient(to right, #185a9d, #43cea2);
        padding:20px;
        width:200px;
        height:150px;
        border-radius: 25px;
        color: white;
        text-decoration: none;
    }
    a:hover{
        background: #ec008c; 
        background: -webkit-linear-gradient(to top, #fc6767, #ec008c);  
        background: linear-gradient(to top, #fc6767, #ec008c); 
    }
</style>
{%endblock%}

{%block body%}
<div style="align-items: center;">        
    <button class="collapsible">Train-Test Split</button>
        <div class="content">
            <div class="slidecontainer">
                <form method="POST">
                    <i>Hold-out cross-validation (recommended for larger datasets)</i>
                    <h4>Specify how much percentage to split your data</h4>
                    <input type="range" min="1" value="50" max="100" class="slider" id="myRange" name="myRange">
                    <p>Percentage:<span id="demo"></span></p>
                    <input type="submit" value="Submit" onclick="return submit_split()">
                </form> 
            </div>
        </div>

    <button class="collapsible">k-fold cross-validation</button>
        <div class="content">
            <form method="POST">
            <h4>Specify number of splits</h4>
            <p>N_splits:<select id="drop_down" name="drop_down">
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10<i>(recommended)</i></option>
            </select></p>
            <p>Shuffle Dataset? <input type="checkbox" id="shuffle" name="shuffle_dataset" value="shuffle"></p>
            <p>Random State:<input placeholder="Random State..." name="random_state" id="random_state" value="0"></p>
            <input type="submit" value="Submit" onclick="return submit_kfold()">
            </form>
        </div>

        <button class="collapsible">Stratified k-fold cross-validation</button>
        <div class="content">
            <form method="POST">
            <h4>Specify number of splits</h4>
            <i>Recommended for skewed dataset and Classification problem</i>
            <p>N_splits:<select id="drop_down_st" name="drop_down_st">
                <option value="3">3</option>
                <option value="5">5<i>(recommended)</i></option>
                <option value="10">10</option>
            </select></p>
            <p>Shuffle Dataset? <input type="checkbox" id="shuffle_st" name="shuffle_dataset_st" value="shuffle"></p>
            <p>Random State:<input placeholder="Random State..." name="random_state_st" id="random_state_st" value="0"></p>
            <input type="submit" value="Submit" onclick="return submit_kfold_st()">
            </form>
        </div>

        <button class="collapsible">Stratified k-fold cross-validation for regression</button>
        <div class="content">
            <form method="POST">
            <h4>Specify number of splits</h4>
            <i>Recommended for skewed dataset</i>
            <p>N_splits:<select id="drop_down_rg" name="drop_down_rg">
                <option value="3">3</option>
                <option value="5">5<i>(recommended)</i></option>
                <option value="10">10</option>
            </select></p>
            <p>Shuffle Dataset? <input type="checkbox" id="shuffle_rg" name="shuffle_dataset_rg" value="shuffle"></p>
            <p>Random State:<input placeholder="Random State..." name="random_state_rg" id="random_state_rg" value="0"></p>
            <input type="submit" value="Submit" onclick="return submit_kfold_rg()">
            </form>
        </div>
        <div class="columnTable">
            <div class="cardTable">
            {% for table in tables %} 
                {{ table|safe }}
            {% endfor %}
            </div>
        </div>
        </br>
        <div id="hideDiv" style="display:none">
        <a href="{{ url_for('MLmodels')}}">Predict using ML</a>
        </div>

</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script>
    window.onload = function() { 
        if(sessionStorage.getItem("divShow") == "trueSecond"){
            sessionStorage.setItem("divShow") = "false";
        }     
        showDiv();
    };
    function showDiv(){
        if(sessionStorage.getItem("divShow") == "trueThird"){
            document.getElementsByClassName("cardTable")[0].style.boxShadow = '0 4px 8px 0 rgba(0, 0, 0, 0.2)';
            document.getElementsByClassName("cardTable")[0].style.background = '#43cea2';
            document.getElementsByClassName("cardTable")[0].style.background = '-webkit-linear-gradient(to right, #185a9d, #43cea2)';
            document.getElementsByClassName("cardTable")[0].style.background = 'linear-gradient(to top, #185a9d, #43cea2)';
            document.getElementById("hideDiv").style.display = "block";
        }
        else{
            document.getElementsByClassName("cardTable")[0].style.boxShadow = '0 4px 8px 0 rgba(0, 0, 0, 0)';
            document.getElementsByClassName("cardTable")[0].style.backgroundColor = 'rgba(0, 0, 0, 0)'
            document.getElementById("hideDiv").style.display = "none"; 
        }
    }
    //collapsible
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;        
        if (content.style.maxHeight){
            content.style.maxHeight = null;
        } else {
            content.style.maxHeight = content.scrollHeight + "px";
        } 
    });
    }
    //slider in train-test split
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;
    var dt = {'value':output.innerHTML}
    slider.oninput = function(){
        output.innerHTML = this.value;
        dt['value'] = this.value;
    }
    function submit_split(){
        var split_value = Math.round(document.getElementById("myRange").value);
        if(split_value<50){
            if(confirm("Training data seems to have less data than validation. Do you wish to continue?")){
                alert("Train-Test split successfull");
                sessionStorage.setItem("divShow","trueThird");
                return true;
            }
            else{
                sessionStorage.setItem("divShow","false");
                return false;
            }
        }
        else{
            sessionStorage.setItem("divShow","trueThird");
            alert("Train-Test split successfull");
            return true;
        }     
    }
    function submit_kfold(){
        var random_state = Math.round(document.getElementById("random_state").value);
        if(isNaN(random_state)){
            alert("Proper input required");
            sessionStorage.setItem("divShow","false");
            return false;
        }
        else{
            alert("K-fold split is successfull");
            sessionStorage.setItem("divShow","trueThird");
            return true;
        }
    }
    function submit_kfold_st(){
        var random_state = Math.round(document.getElementById("random_state_st").value);
        if(isNaN(random_state)){
            alert("Proper input required");
            sessionStorage.setItem("divShow","false");
            return false;
        }
        else{
            alert("Stratified K-fold split is successfull");
            sessionStorage.setItem("divShow","trueThird");
            return true;
        } 
    }
    function submit_kfold_rg(){
        var random_state = Math.round(document.getElementById("random_state_rg").value);
        if(isNaN(random_state)){
            alert("Proper input required");
            sessionStorage.setItem("divShow","false");
            return false;
        }
        else{
            alert("Stratified K-fold split for regression is successfull");
            sessionStorage.setItem("divShow","trueThird");
            return true;
        }  
    }
</script>
{%endblock%}
