{% extends 'base.html' %}

{%block head%}
<title>Virtual Data scientist</title>
<h1>Virtual Data Scientist</h1> 
{%endblock%}

{%block body%}
<div style="align-items: center;">
<h2>Upload Csv files</h2>  
<form action="/upload" method=post enctype=multipart/form-data>
    <input id="inp" type=file name=inputfile>
    <input id="inp2" type=submit>
</form>
</br>
</div>
{% set ok = namespace(value=0) %}
{% for table in tables %} 
      {{ table|safe }}
      {{ ok.value }}
      {% set ok.value = ok.value+1 %}
{% endfor %}
</form>
<!-- </br> -->
</br>
{% if ok.value > 0 %}
<a style="background:snow;padding:20px;width:200px;height:150px;border-radius: 25px; border: 5px solid black;" href="{{ url_for('train_test')}}">Train-Test Split</a>
{% endif %}
{%endblock%}
